langgraph
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-openai
faiss-cpu
easyocr
pypdf
pydantic
python-dotenv
sendgrid
supabase
fastapi
uvicorn
python-multipart
sentence-transformers
